# Core
Flask==3.0.0
flask-cors==4.0.0
Werkzeug==3.0.1
gunicorn==21.2.0

# Data processing - ИСПОЛЬЗУЕМ СОВМЕСТИМЫЕ ВЕРСИИ
pandas==2.0.3
numpy==1.24.3

# Machine Learning
catboost==1.2.2
scikit-learn==1.3.0

# Network analysis
networkx==3.1
python-louvain==0.16
